.loggedTopArea {
    background-color: #65C8FF;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.loggedInContainer {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    margin: 0;
}

.loggedInContainer > P {
    color: white;
    font-size: 1.3rem;
    margin-right: 1rem;
    font-weight: 500;
}

.avatar {
    height: 4rem;
}