.App {
  text-align: center;
}

body {
  background-color: rgb(235, 232, 232);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  background-color: #65c8ff;
  color: #f2f2f2;
}

h1 {
  margin: 0;
  padding: 0 0 3rem 0;
  font-weight: 300;
  font-size: 7rem;
  font-weight: 300;
}

.avatar {
  width: 3rem;
  height: auto;
  border-radius: 50%;
}

.avatarInArticles {
  width: 10rem;
  height: auto;
}

.headingNotLogged1,
.headingNotLogged2 {
  font-weight: 300;
  font-size: 2rem;
  color: rgba(110, 110, 110, 0.747);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.headingNotLogged1 {
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-bottom: 2rem;
}

button:disabled {
  color: rgba(38, 64, 112, 0.527);
  border: 1px solid rgba(38, 64, 112, 0.37);
}

button:disabled:hover {
  transform: scale(1);
}
